*~
MYMETA.json
MYMETA.yml
*.bs
*.o
C.bs
C.c
C.o
Stash/Stash.c
Makefile
Makefile.old
ByteLoader/ByteLoader.c
ByteLoader/byterun.*
lib/B/Asmdata.pm
a
a.c
a.c.lst
ccode*
cccode*
a.plc
*.log
log.*.err
pm_to_blib
nohup.out
t/reports
t/CORE/*/*.bin
t/CORE/*/*.c
t/test-*.sh
t/*.c
script/perlcc
ramblings/How-perl-compiles-subs-and-methods.md
ramblings/cp_light.pod
ramblings/cp_meet1.pod
ramblings/mk-sl*
ramblings/cp_meet201110_compiler.tar.gz
ramblings/cplight/
ramblings/cpmeet1/
ramblings/frozenperl2010/
ramblings/yapceu2010/
blib
lib/B/C/Flags.pm
MANIFEST.files
TAGS
log.test-*
log.make-*
log.do-*
log.critical-*
status.1*
.DS_Store
B-C-*.tar.gz
.commit
*.patch
x*.p
