*~
MYMETA.json
MYMETA.yml
*.bs
*.o
C.bs
C.c
C.o
Stash/Stash.c
Makefile
Makefile.old
ByteLoader/ByteLoader.c
ByteLoader/byterun.*
lib/B/Asmdata.pm
a
a.c
a.c.lst
ccode*
cccode*
a.plc
*.log
log.*.err
pm_to_blib
nohup.out
t/reports
t/CORE*/*/*.bin
t/CORE*/*/*.c
t/CORE*/*/*.subtest.*
t/test-*.sh
t/*.c
script/perlcc
ramblings/How-perl-compiles-subs-and-methods.md
ramblings/cp_light.pod
ramblings/cp_meet1.pod
ramblings/mk-sl*
ramblings/cp_meet201110_compiler.tar.gz
ramblings/cplight/
ramblings/cpmeet1/
ramblings/frozenperl2010/
ramblings/yapceu2010/
blib
lib/B/C/Flags.pm
MANIFEST.files
TAGS
log.test-*
log.make-*
log.do-*
log.critical-*
status.1*
.DS_Store
B-C-*.tar.gz
.commit
*.patch
x*.p
/Io_argv*
/a.out
cover_db/*
nytprof.out
nytprof/
/tmp*
/*.tmp
/t/v5.*/t/0
/t/v5.*/t/bin*
/t/v5.*/t/txt*
/t/v5.*/t/utf*
/t/v5.*/C-COMPILED/*.dir
/t/v5.*/C-COMPILED/*.pag
/t/v5.*/C-COMPILED/*.bak
/t/v5.*/C-COMPILED/xtestc/*.pl
/t/v5.*/C-COMPILED/xtestc/*.c
/t/v5.*/t/*/*.subtest.*
/t/v5.*/t/pcc*
/t/v5.*/t/.dir
/t/v5.*/t/.pag
/t/v5.*/t/bleah.do
/t/v5.*/t/*.flg
/t/v5.*/t/bleah.pm
/t/v5.*/t/*.pmc
/t/v5.*/t/urkkk.pm
.prove
.gdb_history